.navbar li{
display: inline-block;
width: 60px;border-radius: 10px;
text-align: center;
background: #eee;
padding: 10px;

}
a:visited{color: blue;}
.navbar a{
  font-size: 16px;
  text-decoration: none;
  }
.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.blog-content {
  height: 200px;
  width: 85%;
  float: left;
}
.blog-img{
  width: 15%;
  float: left;
}
.image-profile {
  width: 100px;
  border-radius: 50px;
  float: left;
  display: block;
}
.blog-name {
float: left;
font-size: 20px;
}