* {
  box-sizing: border-box;
}

.title {
  text-align: center;
  margin-top: 100px;
  font-size: 100px;
  letter-spacing: -21px;
}

.title :nth-child(1), .title :nth-child(4) {
  color: #4285F4;
}
.title :nth-child(2), .title :nth-child(6) {
  color: #EA4335;
}
.title :nth-child(3) {
  color: #FCC629;
}
.title :nth-child(5) {
  color: #34A853;
}

.nav-bar ul {
  justify-content: flex-end;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-bar ul:hover {
  cursor: pointer;
}

.underLine:hover {
  text-decoration: underline;
}

.nav-bar ul li {
  margin-right: 15px;
  font-size: 18px;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.search-bar {
  position: relative;
  text-align: center;
}

.fa-search {
  color: gray;
  position: absolute;
  left: 15px;
  top: 30px;
}

.text-bar {
  border-radius: 20px;
  border: 1px solid #DFE1E5;
  height: 35px;
  width: 100%;
  margin: 20px auto;
  padding-left: 40px;
}

.search-btn {
  text-align: center;
}

button {
  vertical-align: middle;
  border-style: none;
  padding: 5px;
  height: 35px;
}

.icon {
  display: flex;
  justify-content: center;
}

.tile {
  width: 112px;
  height: 112px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}

.bg {
  position: relative;
  z-index: 1;
  background: #eee;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  
}

.tile img {
  position: absolute;
  z-index: 2;
  width: 24px;
  height: 24px;
  left: 0;
  right: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.fa-plus {
  font-size: 24px;
}