:root {
  --margin: 14px;
  --padding: 14px;

  --font-large: 20px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  --color: #0078c3;
}

* {
  box-sizing: border-box;
  margin: 0 5px;
  padding: 0;
}

p {
  font-size: var(--font-small);
  font-weight: 600;
}

header {
  margin: var(--font-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  color: var(--color);
  font-size: var(--font-large);
  font-weight: 600;
}

#logo {
  color: red;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: var(--font-small);
  font-weight: 600;
  letter-spacing: -1px;
}

header nav li {
  margin-left: var(--font-large);
  margin-right: var(--font-large);
}

.icon {
  display: flex;
  list-style: none;
  font-size: var(--font-large);
}

.icon li {
  margin-left: var(--font-micro);
  margin-right: var(--font-micro);
}

main {
  margin: auto;
  margin-top: 100px;
  max-width: 100%;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -3px;
  width: 100%;
}

.search span {
  margin-left: 70px;
  font-size: var(--font-small);
  color: gray;
}

.search button {
  width: 200px;
  height: 45px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 30px;
  text-align: left;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: -1px;
}

.flex-container {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item1 {
  color: white;
  text-decoration: none;
}

.bg1 {
  background-image: url(/kolon/images/RiotX_ChampionList_garen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 582px;
  height: 582px;
}

.text1 {
  padding-top: 400px;
  padding-left: 15px;
  width: 350px;
}

.item2 {
  height: 276px;
  color: white;
  text-decoration: none;
}

.bg2 {
  background-image: url(/kolon/images/RiotX_ChampionList_twistedfate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 276px;
  height: 276px;
}

.text2 {
  padding-left: 5px;
  padding-top: 130px;
  width: 180px;
}

.bg3 {
  margin-top: 30px;
  background-image: url(/kolon/images/RiotX_ChampionList_yasuo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 276px;
  height: 276px;
}

.text3 {
  padding-left: 5px;
  padding-top: 160px;
  width: 170px;
}

.item4 {
  color: white;
  text-decoration: none;
}

.bg4 {
  margin-top: 20px;
  background-image: url(/kolon/images/Seraphine_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 880px;
  height: 445px;
}

.text4 {
  padding-top: 350px;
  padding-left: 15px;
  width: 350px;
}

.flex2-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.item2-1,
.item2-2,
.item2-3,
.item2-4 {
  width: 429px;
  height: 400px;
  background: var(--color);
  margin: 25px 15px 10px 15px;
  border-radius: 15px;
}
.item2-1,
.item2-3 {
  width: 429px;
  height: 400px;
  background: var(--color);
}

.item2-3 {
  background: white;
  border: 1px solid lightgray;
}

.flex2-container button {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
  height: 30px;
  margin-left: 20px;
  background: white;
  color: #0078c3;
  border-style: none;
  border-radius: 15px;
}

@media screen and (max-width: 1200px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
