:root {
  --margin: 14px;
  --padding: 14px;

  --font-large: 20px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  --color: #0078c3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: var(--font-small);
  font-weight: 600;
}

header {
  margin: var(--font-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span {
  color: var(--color);
  font-size: var(--font-large);
  font-weight: 600;
}

#logo {
  color: red;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: var(--font-small);
  font-weight: 600;
  letter-spacing: -1px;
}

header nav li {
  margin-left: var(--font-large);
  margin-right: var(--font-large);
}

.icon {
  display: flex;
  list-style: none;
  font-size: var(--font-large);
}

.icon li {
  margin-left: var(--font-micro);
  margin-right: var(--font-micro);
}

main {
  margin: auto;
  margin-top: 100px;
  width: 100%;
}

.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: -3px;
  width: 100%;
}

.search span {
  margin-left: 70px;
  font-size: var(--font-small);
  color: gray;
}

.search button {
  width: 200px;
  height: 45px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 30px;
  text-align: left;
  padding-left: 10px;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: -1px;
}

.outer-container {
  margin: auto;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 1번 박스 효과 */

.item1 {
  position: relative;
  margin: 0 15px;
  border-radius: 15px;
  overflow: hidden;
  text-decoration: none;
  width: 582px;
  height: 582px;
}

.img1 {
  width: 582px;
  height: 582px;
}

.img1:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.text1 {
  position: absolute;
  z-index: 2;
  margin-top: -170px;
  color: white;
  padding-left: 15px;
  width: 320px;
}
.text2 {
  position: absolute;
  z-index: 2;
  color: white;
  padding-left: 15px;
  margin-top: -170px;
}

.text3 {
  position: absolute;
  z-index: 2;
  color: white;
  padding-left: 15px;
  margin-top: -170px;
}

.inner-container {
  margin: 0;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 2번 박스 효과 */
.item2 {
  overflow: hidden;
  border-radius: 15px;
  height: 276px;
  height: 276px;
  text-decoration: none;
}

.img2 {
  width: 276px;
  height: 276px;
}

.img2:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.text2 {
  color: white;
  padding-left: 15px;
  width: 180px;
  margin-top: -140px;
}

/* 3번 박스 효과 */
.item3 {
  height: 276px;
  height: 276px;
  text-decoration: none;
  margin-top: 30px;
}

.img3 {
  border-radius: 15px;
  width: 276px;
  height: 276px;
}

.text3 {
  color: white;
  padding-left: 15px;
  width: 170px;
  margin-top: -130px;
}

/* 4번 박스 효과 */
.item4 {
  margin: 0 10px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
}

.bg4 {
  background-image: url(/kolon/images/Seraphine_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  width: 878px;
  height: 445px;
}

.text4 {
  padding-top: 350px;
  padding-left: 15px;
  width: 350px;
}

/* 2번째 flexbox 박스 */
.flex2-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

.item2-1,
.item2-2,
.item2-3,
.item2-4 {
  padding-left: 10px;
  width: 429px;
  height: 400px;
  background: var(--color);
  margin: 25px 15px 10px 15px;
  border-radius: 15px;
}

.item2-3 {
  background: white;
  border: 1px solid lightgray;
}

.text2-1 {
  margin: 30px 15px 180px 15px;
  color: white;
}

.text2-2 {
  margin: 30px 15px 25px 15px;
  color: white;
}

.stock-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px 90px 15px;
}

.slide-btn {
  font-size: 20px;
  cursor: pointer;
  color: gray;
  display: flex;
  justify-content: space-evenly;
}

.text2-3 i {
  font-size: 20px;
}

.stock-content {
  margin: 25px 15px 10px 15px;
}

.text2-4 {
  margin: 30px 15px 180px 15px;
  color: white;
}

.flex2-container button {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
  height: 30px;
  margin-left: 20px;
  background: white;
  color: #0078c3;
  border-style: none;
  border-radius: 15px;
}

.item2-3 button {
  margin-top: 140px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  width: 80px;
  height: 30px;
  margin-left: 20px;
  background: black;
  color: white;
  border-style: none;
  border-radius: 15px;
}

@media screen and (max-width: 1200px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}
