p, h1, h2 {
  font-family: "gulim";
}
.ani-btn {
padding: 10px;
border-style: none;
background: #6fbaf8;
color: white;
display: inline-block;
/* transform: rotate(30deg); 회전
transform: translateX(100px); 좌표이동*/
}
.ani-btn:hover {
  animation-name: rotate;
  animation-duration: 1s;
}
@keyframes rotate {
  0% {
    transform: rotate(-10deg); 
  }
  33% {
    transform: rotate(10deg); 
  }
  66% {
    transform: rotate(-10deg); 
  }
  100% {
    transform: rotate(); 
  }
}

.plus:hover {
  animation-name: plusRotate;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes plusRotate {
  0% { transform: rotate(0deg) }
  25% { transform: rotate(-15deg) }
  100% { transform: rotate(45deg) }
}
.plus {
  width: 84px;
  margin: 150px auto;
  font-size: 70px; 
  text-align:center;
  cursor: pointer;
}

.black-bar {
  padding: 20px;
  text-align: right;
  background: black;
  color: white;
  width: 500px;
  height: 500px;
  transform:translateX(-150px);
  transition: all 1s;
}
.black-bar:hover {
  transform:translateX(0px);
  text-align: center;
}
.black-bar:hover h2 {
  animation-name: item;
  animation-duration: 1s;
}
@keyframes item {
  0% { 
    transform: translateX(-250px);
  }
  50% {
    transform: translateX(50px) skew(-30deg); 
  }
  100% {
    transform: translateX(0px); 
  }
}
