.product-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.product-container div {
  font-size: 20px;
  float: left;
  width: 25%;            /*pc 사이즈 4개를 1자로 정렬*/
  text-align: center;
}

@media screen and (max-width : 1200px) {
  .product-container div {
    font-size: 18px;
  width: 50%;          /*태블릿 사이즈 2열*/
  }
  .product-container {
    max-width: 600px;
  } 

}

@media screen and (max-width : 768px) {
  .product-container div {
  font-size: 15px;
  width: 100%;          /*모바일 세로 정렬*/
  }
}

